<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from_account_id %>
    <%= form.text_field :from_account_id, id: :transaction_from_account_id %>
  </div>

  <div class="field">
    <%= form.label :to_account_id %>
    <%= form.text_field :to_account_id, id: :transaction_to_account_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :transaction_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
